svg {
  display: block;
  margin: 20px;
  background-color: #eee;
}

.one {
  background-color: #ddd;
  width: 300px;
  height: 300px;
}

.box1 {
  width: 100px;
  height: 100px;
  fill: salmon;
  x: 50px;
  y: 50px;
}
