body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: #333;
  padding: 2em;
}

.hero {
  display: grid;
  grid-gap: 2em;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 960px) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
  }
}
