.one {
  background-color: #ddd;
  /* the width and height below is the window to look at svg box */
  width: 300px;
  height: 300px;
}

.box1 {
  width: 100px;
  height: 100px;
  fill: salmon;
  x: 100px;
  y: 100px;
}
