* {
  margin: 0;
  padding: 0;
}

form {
  width: 600px;
  padding: 20px;
}

form div {
  margin: 10px;
}

label {
  display: block;
}

input:invalid {
  border: none;
  /* to make form use outline */
  outline: 2px solid red;
  border-radius: 2px;
}

/* if valid, it will return back to normal */
input:valid {
  border: 1px solid black;
  /* outline - to return back to normal */
  outline: inherit;
  border-radius: inherit;
}

/* TO PUT REQUIRED IN CSS go to 63 */
